 <div class="maindiv">
   <section class="maindiv__signincard">
     <div class="maindiv__header">
       <h2>Login</h2>
     </div>
     <div  class="maindiv__invalidinputmessage" *ngIf="emptyInputField">Please Enter email and password</div>
     <div  class="maindiv__invalidinputmessage" *ngIf="invalidInputField">invalid email or password</div>
     <form (ngSubmit)="onSubmit(loginform)"  #loginform="ngForm">
       <div class="row card-field">
         <div class="col-xs-12">
           <div class="form-group">
             <label class="label" for="email">Email address</label>
             <input type="text" id="email" name="email" class="form-control inputfield" placeholder="Enter mail" ngModel required>
           </div>
         </div>
       </div>
       <div class="row card-field">
         <div class="col-xs-12">
           <div class="form-group">
             <label class="label" for="password">Password</label>
             <input type="password" id="password" name="password" class="form-control inputfield" placeholder="Enter password" ngModel required>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12">
           <button type="submit" class="btn btn-success btn-block btn-sm signinbutton">Sign in</button>
         </div>
       </div>
     </form>
   </section>
 </div>
