.maindiv{
  display: grid;
  align-items: center;
  background-size: cover;
  background-image: url("https://cdn.wallpapersafari.com/59/77/tPcOg2.png");
  height: 100%;
}

.maindiv__formsection{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/2155720.jpg");
  padding: 50px;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-inline: auto;
  width: 70%;
  height: 600px;
  overflow-y: auto;
}

.inputfield{
  border-radius: 5px;
  border-color:silver ;
}

.inputfield:focus , .inputtextarea:focus, .inputradiobutton:focus, .inputcheckbox:focus {
  box-shadow: none;
  border-color: #3AB0FF;
}

.inlineTwoField{
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap:20px;
  grid-template-columns: 1fr 1fr;
}

.maindiv__contentHeader {
  border-bottom: 2px solid #78b4d7;
  width: fit-content;
}

.inputfield::placeholder , .inputtextarea::placeholder{
  font-size: smaller;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #938f8f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #938f8f;
}

.redtext{
  color: #f33232;
}

.inputfieldred{
  border-color: #f33232;
}

.ng-valid{
  border-color: silver;
 }

/*input[type="date"]::-webkit-calendar-picker-indicator {*/
/*  background: transparent;*/
/*  bottom: 0;*/
/*  color: transparent;*/
/*  cursor: pointer;*/
/*  height: auto;*/
/*  left: 0;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  width: auto;*/
/*}*/


@media (max-width: 1024px){
  .maindiv__formsection{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://wallpaperaccess.com/full/2155720.jpg");
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    height: 600px;
    overflow-y: auto;
  }

}

@media (max-width: 600px){

  .inlineTwoField{
    display:block;
  }

  .inlineTwoButton{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap:20px;
    grid-template-columns: 1fr 1fr;
  }

  .display-block{
    display: block;
  }
}


