.mainDiv{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

section{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  width: 500px;
  margin-bottom: 15px;
}

.editButton{
  position: relative;
  left: 140px;
}

.backButton{
  position: relative;
  left: 150px;
}

.backButton a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:white;
}
