
.usertable{
  width: 40%;
  margin-inline:auto ;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:10px;
  border-radius: 10px;
}

.btn--white{
  color: white;
  text-decoration: none;
}

.btn--white:hover{
  color:white;
}

@media (max-width: 1024px){
  .usertable{
    width: 80%;
  }
}

@media (max-width: 600px){
  .usertable{
    width: 90%;
  }
}
